<!doctype html>

<html>

<head>
  <title> deli plot </title>
  <link rel="stylesheet" href="/static/css/flot.css" type="text/css"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
  <script src="/static/flot/jquery.flot.js"></script>

  <script type="text/javascript">
    plot = function(data) {
      var element = document.getElementById("deliplot");
      console.log(element);
      var context = element.getContext("2d");
      context.rect(0, 0, data.width, data.height);
      context.stroke();
    };
	</script>

</head>

<body>

  <div class="demo-container">
    <canvas id="deliplot">
      <script type="text/javascript">
        plot({{ data|tojson }});
      </script>
    </canvas>
  </div>

</body>

</html>
