<!doctype html>

<html>

<head>
  <title> deli plot </title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>

  <script type="text/javascript">
    plot = function(data) {
      var element = document.getElementById("deliplot");
      console.log(element);
      var context = element.getContext("2d");
      context.rect(data.origin[0], data.origin[1], data.size[0], data.size[1]);
      context.stroke();
    };
	</script>

</head>

<body>

  <div class="demo-container">
    <canvas id="deliplot"
            width={{ data["size"][0] }}
            height={{ data["size"][1] }}>

      <script type="text/javascript">
        plot({{ data|tojson }});
      </script>

    </canvas>
  </div>

</body>

</html>
